# Denison DA210/CS181 Homework 2.g - Step 2

Before you turn this notebook in, make sure everything runs as expected. This is a combination of **restarting the kernel** and then **running all cells**.

Make sure you fill in any place that says `# YOUR CODE HERE` or "YOUR ANSWER HERE".

---

In [1]:
import os
import os.path
import pandas as pd

datadir = "publicdata"

---

## Part D: More data normalization

**Q8:** Read `us_rent_income.csv` into a dataframe (with no specified index) named `df_rent_untidy`.

In [2]:
df = pd.read_csv(os.path.join(datadir, "us_rent_income.csv")) 
df_rent_untidy = pd.DataFrame(df)

# Display part of the untidy DataFrame
df_rent_untidy.head()

   GEOID     NAME variable  estimate    moe
0      1  Alabama   income   24476.0  136.0
1      1  Alabama     rent     747.0    3.0
2      2   Alaska   income   32940.0  508.0
3      2   Alaska     rent    1200.0   13.0
4      4  Arizona   income   27517.0  148.0

In [3]:
# Testing cell
assert df_rent_untidy.shape == (104,5)
assert df_rent_untidy.iloc[0,2] == "income"
assert df_rent_untidy.iloc[1,3] == 747.0

**Q9:** Transform `df_rent_untidy` as needed to make it tidy. Store the result as `df_rent`.  Make sure to keep the original `df_rent_untidy` unchanged.

Hint: Your tidy result should have only one column used as the row index.

In [4]:
df_rent = df_rent_untidy.copy() 
df_rent = df_rent.pivot_table(index =["NAME", "GEOID"], 
              columns = ["variable"], 
              values = ["estimate", "moe"]) 
df_rent = df_rent.reset_index()
df_rent = df_rent.set_index("GEOID")

# Display part of the tidy DataFrame
df_rent.head()

                NAME estimate            moe
variable               income    rent income  rent
GEOID
1            Alabama  24476.0   747.0  136.0   3.0
2             Alaska  32940.0  1200.0  508.0  13.0
4            Arizona  27517.0   972.0  148.0   4.0
5           Arkansas  23789.0   709.0  165.0   5.0
6         California  29454.0  1358.0  109.0   3.0

In [5]:
# Testing cell
assert df_rent.shape == (52,5)
assert df_rent.iloc[0,1] == 24476.0
assert df_rent.iloc[0,2] == 747.0
assert df_rent.iloc[0,3] == 136.0
assert df_rent.iloc[0,4] == 3.0
assert df_rent.iloc[20,1] == 37147.0
assert df_rent.iloc[31,2] == 809.0

---

---

## Part E

**Q10:** How much time (in minutes/hours) did you spend on this homework assignment?

Around 40 minutes.

**Q11:** Who was your partner for this assignment?  If you worked alone, say so instead.

Alone