# Denison DA210/CS181 SW Lab #6 - Step 1

Before you get your checkpoints, make sure everything runs as expected. This is a combination of **restarting the kernel** and then **running all cells**.

Make sure you fill in any place that says `# YOUR CODE HERE` or "YOUR ANSWER HERE".

---

In [3]:
import os
import os.path
import pandas as pd

datadir = "publicdata"

---

## Part A

**Q1:** Consider the data on religions and income, gathered by Pew Research Center and hosted at this link: https://github.com/chendaniely/pandas_for_everyone/blob/master/data/pew.csv.

The data is also available as `pew.csv` in the data folder.  In the code cell that follows, read the data into a DataFrame assigned to `df_rel_untidy`.

In [4]:
df = pd.read_csv(os.path.join(datadir, "pew.csv"))
df_rel_untidy = pd.DataFrame(df)

# Display part of the DataFrame
df_rel_untidy.head()

,religion,<$10k,$10-20k,$20-30k,$30-40k,$40-50k,$50-75k,$75-100k,$100-150k,>150k,Don't know/refused
0,Agnostic,27,34,60,81,76,137,122,109,84,96
1,Atheist,12,27,37,52,35,70,73,59,74,76
2,Buddhist,27,21,30,34,33,58,62,39,53,54
3,Catholic,418,617,732,670,638,1116,949,792,633,1489
4,Don’t know/refused,15,14,15,11,10,35,21,17,18,116

In [5]:
# Testing cell
assert df_rel_untidy.shape == (18,11)
assert df_rel_untidy.iloc[0,0] == "Agnostic"
assert df_rel_untidy.iloc[0,1] == 27
assert df_rel_untidy.iloc[5,0] == "Evangelical Prot"
assert df_rel_untidy.columns[5] == "$40-50k"
assert df_rel_untidy.iloc[14,8] == 14

> You've reached the first checkpoint in the lab.  Make sure to have it signed off by the instructor or TA.
>
> Checkpoint 1: What are the independent variable(s) and dependent variable(s) for this dataset?  Give one of the three tidy-data requirements that this dataset fails to satisfy and explain why.

independent = religion 
dependent = $ 
t

**Q2:** Transform as needed to make it tidy.  Store the normalized (tidy) data frame as `df_rel`.

In [6]:
df_rel = df_rel_untidy.melt(id_vars = "religion", 
                            value_vars = ["<$10k","$10-20k","$20-30k","$30-40k","$40-50k","$50-75k","$75-100k","$100-150k",">150k","Don't know/refused"], 
                            var_name = "income", 
                            value_name = "count")

# Display part of the tidy DataFrame
df_rel.head()

             religion income  count
0            Agnostic  <$10k     27
1             Atheist  <$10k     12
2            Buddhist  <$10k     27
3            Catholic  <$10k    418
4  Don’t know/refused  <$10k     15

In [7]:
# Testing cell
assert df_rel.shape == (180,3)
assert df_rel.iloc[0,0] == "Agnostic"
assert df_rel.iloc[0,1] == "<$10k"
assert df_rel.iloc[0,2] == 27
assert df_rel.iloc[41,0] == "Evangelical Prot"
assert df_rel.iloc[89,1] == "$40-50k"
assert df_rel.iloc[104,2] == 14

---

## Part B

**Q3:** Read the data in `pop_columns.csv` into a `DataFrame` called `pop_untidy`.

In [8]:
pop_untidy1 = pd.read_csv(os.path.join(datadir, "pop_columns.csv"))
pop_untidy = pd.DataFrame(pop_untidy1) 


# Display the untidy DataFrame
pop_untidy

  code  pop2014  pop2015  pop2016
0  CHN  1364.27  1371.22  1378.66
1  GBR    64.61    65.13    65.60
2  IND  1295.60  1310.15  1324.51
3  USA   318.39   320.74   323.07

> You've reached the second checkpoint in the lab.  Make sure to have it signed off by the instructor or TA.
>
> Checkpoint 2: What are the independent variable(s) and dependent variable(s) for this dataset?  Would either `melt` or `pivot` be useful to make this data tidy?

ind = code + year 
dep = pop 
melt bc index = year

**Q4:** This dataset fails to satisfy `TidyData1`: each column represents the `population` for a different value of `year`.  Make this dataset tidy.

Your result should use both the `code` and `year` as a multi-level index and have one data column (`pop`), and twelve rows.  Note that you can use `sort_index` to reorganize your data after setting the index.  Store the resulting `DataFrame` in a variable `pop_tidy`.

In [12]:
df_pop_tidy = pop_untidy.copy() 

df_pop_tidy[2014] = df_pop_tidy["pop2014"]
df_pop_tidy[2015] = df_pop_tidy["pop2015"]
df_pop_tidy[2016] = df_pop_tidy["pop2016"]
del df_pop_tidy["pop2014"]
del df_pop_tidy["pop2015"]
del df_pop_tidy["pop2016"]
                           
pop_tidy = df_pop_tidy.melt(id_vars = ["code"], 
                            value_vars= [2014, 2015, 2016], 
                            var_name = "year",
                            value_name= "pop")

pop_tidy = pop_tidy.set_index(["code", "year"])
pop_tidy = pop_tidy.sort_index()
# Display the tidy DataFrame
pop_tidy

               pop
code year
CHN  2014  1364.27
     2015  1371.22
     2016  1378.66
GBR  2014    64.61
     2015    65.13
     2016    65.60
IND  2014  1295.60
     2015  1310.15
     2016  1324.51
USA  2014   318.39
     2015   320.74
     2016   323.07

In [13]:
# Testing cell
assert pop_tidy.shape == (12, 1)
assert pop_tidy.loc[("USA", 2015), "pop"] == 320.74

---

## Part C

**Q5:** Read the data in `popgdp_columns.csv` into a `DataFrame` called `ind_untidy`.

In [34]:
df_popgdp_columns = pd.read_csv(os.path.join(datadir, "popgdp_columns.csv"))

ind_untidy = pd.DataFrame(df_popgdp_columns)

# Display the untidy DataFrame
ind_untidy

  code  pop2015  pop2016  pop2017   gdp2015   gdp2016   gdp2017
0  CHN  1371.22  1378.66  1386.40  11015.54  11137.95  12143.49
1  GBR    65.13    65.60    66.06   2896.42   2659.24   2637.87
2  IND  1310.15  1324.51  1338.66   2103.59   2290.43   2652.55
3  USA   320.74   323.07   325.15  18219.30  18707.19  19485.39

> You've reached the third and final checkpoint in the lab.  Make sure to have it signed off by the instructor or TA.
>
> Checkpoint 3: What are the independent variable(s) and dependent variable(s) for this dataset?  What steps would you take to make this data tidy?

ind = code + year 
melt, index = code + year,  2 columns pop and gdp .pivot

**Q6:** \[Optional\] This dataset fails to satisfy `TidyData1`: each column represents either the `population` or `GDP` for a different value of `year`.

Make this dataset tidy.  Your result should a multi-level row index of `code` and `year`, two data columns, and twelve rows.  Store the resulting `DataFrame` in a variable `ind_tidy`.

In [ ]:
ind_almost_tidy = ind_untidy.copy() 



ind_almost_tidy = ind_almost_tidy.melt(id_vars = "code", 
                                       value_vars = ["pop2015", pop ]

# Display the tidy DataFrame
ind_tidy

In [ ]:
# Testing cell
assert ind_tidy.shape == (12, 2)
assert ind_tidy.loc[("USA", 2015), "pop"] == 320.74
assert ind_tidy.loc[("GBR", 2017), "gdp"] == 2637.87

---

---

## Part D

How much time (in minutes/hours) did you spend on this lab outside of class?

0